    :root {
      --Yellow: hsl(47, 88%, 63%);
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 50%);
--Black: hsl(0, 0%, 7%);
    }  
    * {
      font-family: 'Figtree', sans-serif;
    } 
    body {
      background-color: var(--Yellow); 
      display: grid; 
      place-content: center; 
      place-items: center; 
      box-sizing: border-box;
    } 
    .card {
      display: grid; 
      place-content: center; 
      width: 360px; 
      height: 510px;
      place-items: center; 
      background-color: var(--White); 
      border-radius: 10px; 
      padding: 10px; 
      margin: 10px;
    } 
    .h4 {
      background-color: var(--Yellow); 
      width: 65px; 
      padding: 10px; 
      border-radius: 10px;
    } 
    svg {
  width: 700px;
  height: 190px;
  padding: 10px;
  margin: 10px;
  border-radiud: 10pc;
    } 
    .content-card {
      padding: 5px;
    }
    .attribution { 
      font-size: 11px; 
      text-align: center; 
    }
    .attribution a { 
      color: hsl(228, 45%, 44%);
    } 
@media (width < 37.5rem) {

}
